:root {
    --primary: #4a76a8;
    --primary-hover: #5b88bd;

    --background: #edeef0;
    --surface: #ffffff;
    --border: #dce1e6;

    --text-primary: #2a2a2a;
    --text-secondary: #656565;
}


* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--background);
    color: var(--text-primary)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    
    font-weight: normal;
    font-size: inherit;
}

input {
    padding: 0;
    
}

.auth {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.auth__card {
    width: 320px;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    padding: 2rem;

    background-color: var(--surface);
    border: 3px solid var(--border);
    border-radius: 10px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

/* TITLE */
.auth__title {
    font-size: 1.6rem;
    text-align: center;
}

/* FORM */
.auth__form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    user-select: none;
}

/* LABEL */
.auth__block {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.auth__input {
    padding: 0.8rem;

    border: 1px solid var(--border);
    border-radius: 6px;

    font-size: 1rem;

    outline: none;
}

.auth__checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 0.8rem;
    font-style: italic;
}

.auth__input:focus {
    border-color: var(--primary);
}

/* BUTTON */
.auth__button {
    margin-top: 0.5rem;

    padding: 0.8rem;

    border: none;
    border-radius: 6px;

    background: var(--primary);
    color: white;

    font-size: 1rem;

    cursor: pointer;

    transition: 0.2s;
}

.auth__button:hover {
    background: var(--primary-hover);
}

.auth__button:disabled {
    background: var(--primary);
    cursor: not-allowed;
    opacity: 0.7;
}

/* LINK */
.auth__link {
    text-align: center;
    font-size: 0.9rem;

    color: var(--primary);
    text-decoration: none;
}

.auth__link:hover {
    text-decoration: underline;
}

/* ===== CHAT ====== */

.container {
    display: flex;
    justify-content: center;
}

.chat {
    width: 1000px;
    height: 100vh;

    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 260px 1fr;
    grid-template-areas: 
    "header header"
    "users main";
    gap: 10px;

    background: var(--background);
}

.chat__header {
    grid-area: header;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    background: var(--primary);

    border-bottom: 1px solid var(--border);
}

.chat__title {
    font-size: 1.6rem;

    font-weight: bold;

    color: white;
}

.chat__actions {
    grid-area: users;

    background: var(--surface);

    border: 2px solid var(--border);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.action__list {
    display: flex;
    justify-content: center;

    padding: 10px;
}

.action__help {
    flex: 1;
}

.action__help a{
    color: white;
    text-decoration: none;

    position: relative;
}

.action__help a::after {
    content: "";

    width: 0;
    height: 1px;

    position: absolute;
    left: 0;
    top: 100%;
    
    background: white;

    transition: all .4s ease;
}

.chat__button:hover {
    background-color: var(--primary-hover);
}

.chat__button a:hover::after {
    width: 100%;
}

.action__logout {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 10px;
}

.action__logout button {
    
    flex: 1;
}

.chat__main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    justify-content: end;

    border: 2px solid var(--border);

    overflow: hidden;

    background: var(--surface);
}

.chat__messages {
    display: flex;
    flex-direction: column;

    padding: 0 15px;

    overflow-y: auto;

    margin-bottom: 15px;
}

.message {
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin: 15px;
}

.message__author {
    color: var(--text-secondary);

    margin: 0;
}

.message__text {
    margin: 0;
}

.chat__form {
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-top: 3px solid var(--border)
}

.chat__input {
    border: 1px solid black;

    padding: 0.6rem;

    flex: 1;
    
    font-size: 1.1rem;
}

.chat__button {

    padding: 0.8rem;

    border: none;
    border-radius: 6px;

    background: var(--primary);
    color: white;

    font-size: 1rem;

    cursor: pointer;

    transition: 0.2s;
}

#contact-message {
    resize: none;
}

@media (max-width: 1000px) {

    .chat {
        height: 100vh;

        grid-template-columns: 1fr;
        grid-template-rows: 70px auto 1fr;

        grid-template-areas:
            "header"
            "users"
            "main";
    }

    .chat__header {
        padding: 1rem;
    }

    .chat__title {
        font-size: 1.3rem;
    }

    .chat__actions {
        flex-direction: row;
        justify-content: space-between;

        padding: 10px;
    }

    .action__list,
    .action__logout {
        padding: 0;
        flex: 1;
    }

    .action__list {
        margin-right: 10px;
    }
}

@media (max-width: 480px) {

    .chat__form {
        gap: 5px;
        padding: 5px;
    }

    .chat__input {
        font-size: 16px;
    }

    .chat__button {
        padding: 0.6rem;
        font-size: 0.9rem;
    }

    .message {
        margin: 8px 0;
        gap: 5px;

        flex-direction: column;
    }

    .message__author {
        font-size: 0.8rem;
    }

    .message__text {
        font-size: 0.95rem;
    }
}